<div class="row">
    <div class="top col-sm-12">
        <a href="#" style="color: rgb(256, 256, 256);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#" style="color: rgb(256, 256, 256);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="#" style="color: rgb(256, 256, 256);"><i class="fa fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="col-sm-12">
        <img class="img-responsive center-block logo" src="static/img/logo.png" alt="Blue Design">
    </div>
</div>