.logo {
    height: auto;
    width: 10vw;
    margin-bottom: 25px;
}

.top {
    font-size: xx-large;
}

.head-title {
    color: rgb(256, 256, 256);
    word-wrap: break-word;
}

@media (min-width:768px) {
    .navbar > .container-fluid {
        text-align: center;
    }
    .navbar-header {
        float: none;
        display: inline-block;
    }
    .navbar-brand {
        float: none;
        display: inline-block;
    }
    .navbar .navbar-nav {
        float: none;
        display: inline-block;
        clear: none;
    }
    .navbar .navbar-nav > li {
        float: none;
        display: inline-block;
    }
    .navbar .navbar-nav > li li {
        text-align: left
    }
    .collapse.navbar-collapse#centerednav {
        float: none;
        display: inline-block!important;
        width: auto;
        clear: none;
    }
}

@media only screen and (min-width:768px){
    .about {
        padding-left: 100px;
        padding-right: 100px;
    }

    body {
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 15px;
    }
    p {
        font-size: 18px;
    }
}

p {
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;
}